/*Dracula theme based on the Purple official rofi theme*/

configuration {
    show-icons:      true;
    display-drun:    "";
    disable-history: false;
}

* {
    font: "Jetbrains Mono 12";
}

@theme "/home/yaroslav/.local/share/rofi/themes/catppuccin-mocha.rasi"
